nav.navbar{
	background-color: #83438A;
	height:50px;
	max-height: 300px;
	padding-right: 0;
	padding-left: 0;
}
nav .navbar-header .navbar-brand{
	font-weight: bold;
	font-size: 5.5em;
	color: #ffffff;
	text-shadow: 0em 0em 0.1em #565656;
}
.navbar-inverse{
	border-color: transparent!important;
}
.navbar-inverse .navbar-collapse{
	border-color: transparent !important;
}
div#navbar.navbar-collapse.collapse.in{
	/*background-color: #474747;*/
	background-color: #83438a;
}
.navbar-inverse .navbar-toggle:hover{
	color: #333 !important;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: transparent !important;
}
.navbar-inverse .navbar-nav li>a:hover{
	color: #333;
	text-decoration: none;
	background-color: #C967D4 !important;
}

h6{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 14px !important ;
	color: #333 !important;
	font-weight: 300 !important;
	line-height: 1.4 !important;
}
footer{
	text-align: left;

}
/*modal*/

.modal{
	margin-right: -515px;
	margin-top: 30px;
}
.h{
	font-weight: normal !important;
}
.login{
	text-align: left;
}

.page{
	text-align: center;
	padding: 60px 15px;
}

.shoppingbag{
	text-align: left;
}


.page> hr {
    height: 1px;
    width: 100%;
}

.center{
	width: 150px;
 	margin: 40px auto;  
}
.ticket{
	text-align: center;
	height: 400px !important;
	width: 240px !important;
	border-style: solid;
	background-color: white;
	border-width:1px;
	border-color: #dddddd;
	margin-right: 26px;
	margin-left: 26px;
	margin-top: 20px;
	border-radius: 10px / 10px;
	margin-bottom: 30px;
}
.ticket-text{
	height: 200px;
	position: relative;
}


.ticket:hover{
	background-color: #fafeff;
	border-color:#2B8DB5;
	color: #2B8DB5;
}

.ticket:hover .box1{
	background-color: #fafeff;
}

.ticket-text> h1{
	padding-top: 80px;
}
.ticket input[type=text]{
	border: 1px solid #ccc;
}
.select > p{
	margin-top: 30px;
	color: #2B8DB5 ;
}

.box1{
	height: 34px;
	text-align: center;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.box1:hover{
	color: #2B8DB5;
	font-weight: bold;
}

.box1 :visited;{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #2B8DB5;
	font-weight: bold;
}
#map {
    height: 70%;
    width: 100%;
    }

.glyphicon-envelope,.glyphicon-phone{
font-size: 3em;
text-align: center;
padding-top: 20px;
}

.icons{
	text-align: center;
}
.icons:hover{
	color: #83438A;
	text-decoration: none;
}

.icons >a{
	color: black;
	text-decoration: none;
}
.icons >a:hover{
color: #83438A;
}
.adress >.row >hr{
	height: 2px;
	width: 50%;
}
.adress{
	padding-bottom: 20px;
}

.button{
	clear: center;
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}

button.submit, a.submit{
	border: none;
	background-color: #83438A;
	color: #fff;
	letter-spacing: .125rem;
	padding: .3125em .75em;
	border-radius: .25em;
	transition: all .2s ease-out;
	margin-top: 20px;
	text-align: center;
}
.btn.btn-default.submit{
	width: 70%;
}

input.submit{
	border: none;
	background-color: #83438A;
	color: #fff;
	letter-spacing: .125rem;
	padding: .3125em .75em;
	border-radius: .25em;
	transition: all .2s ease-out
}

.close{
	margin-right: 30px;
}

.remember>a{
color: black;
}

.cancelbtn {
    width: 50%;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}




/*------BASKET-----*/

.shopping{
	text-align: left;
}
.shopping hr{
	margin-top: 0px;
	margin-bottom: 5px;
}

.product input[type=value]{
	display: inline-block;
	border: 0px solid white;
	background-color: white;
}


.signin{
	width: 50%;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



@media (max-width: 500px) { 
	.logo{
		font-weight: bold;
		font-size: 5.5em;
		color: #ffffff;
		text-shadow: 0em 0em 0.1em #565656;
		transform: scale(0.7,0.7); 
	}
 }
@media (max-width:768px) { 
	.page>.basket>.basket-top>.row{
		padding-left: 150px;
	}

	.ticket{
		display: inline-block;
		transform: scale(0.8,0.8); 
	}
}

@media (max-width: 1200px) {
	.ticket{
		display: inline-block;
	}
}

.panel-title h1{
	color: #83438A;
}
.panel-default>.panel-heading{
	text-decoration: none;
}
input[type="radio"], input[type="checkbox"] {
    display:inline-block;
    vertical-align:middle;
}
input[type=text], input[type=password] {
	padding: .375em .75em .25em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	background-color: #e7e7e8;
	border: 1px solid #e7e7e8;
	box-sizing: border-box;
	border-radius: .25em;
	line-height: 1.3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus, input[type=password]:focus{
    border: 1px solid #555;
    border-radius: .25em;
}
div.panel.panel-default{
	background: 1em no-repeat #f7f7f7;
	background-size: 1.125em;
	border-radius: .5em;
	cursor: pointer;
	margin-bottom: 0;
	padding: .75em;
}
a.forgotten{
	color:#83438A;
}

/*USERPAGE*/
.page <.user_order{

	text-align: left;
}

/*ORDER*/
.order{
	text-align: left;
}
.order hr{
	width: 70%;
	text-align: left;
position: relative;
}