

header .navbar{
	background-color: #83438A;
	height:50px;
	max-height: 300px;
	padding-right: 0;
	padding-left: 0;
}

header .logo{
	font-weight: bold;
	font-size: 5.5em;
	color: #ffffff;
	text-shadow: 0em 0em 0.1em #565656;
}

header a{
		color: white;
}
header .logo:hover{
		color: white;
}


header li>a:hover{
	color: #333;
	text-decoration: none;
	background-color: #C967D4 !important;
}

h6{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 14px !important ;
	color: #333 !important;
	font-weight: 300 !important;
	line-height: 1.4 !important;
}
footer{
	text-align: center;
	/*background-color:#f3f3f3;*/

}
/*modal*/

.modal{
	margin-right: -515px;
	margin-top: 30px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 20px;
    display: inline-block;
    border: 0px solid #ccc;
    background-color: #F3F3F3;
}
.h{
	font-weight: normal !important;
}
.login.remember< a{
	margin-top: 40px !important;
}

/*------------*/
.page{
	text-align: center;
	padding: 60px 15px;
}

.shoppingbag{
	text-align: left;
}

.page button.submit{
	clear: center;
	margin-top: 50px;
	width: 70%;
	display: inline-block;
}

.page> hr {
    height: 1px;
    width: 100%;
}

.center{
	width: 150px;
 	margin: 40px auto;  
}
.ticket{
	text-align: center;
	height: 400px !important;
	width: 240px !important;
	border-style: solid;
	background-color: white;
	border-width:1px;
	border-color: #dddddd;
	margin-right: 26px;
	margin-left: 26px;
	margin-top: 20px;
	border-radius: 10px / 10px;
	margin-bottom: 30px;
}
.ticket-text{
	height: 200px;
	position: relative;
}


.ticket:hover{
	background-color: #fafeff;
	border-color:#2B8DB5;
	color: #2B8DB5;
}

.ticket:hover .box1{
	background-color: #fafeff;
}

.ticket-text> h1{
	padding-top: 80px;
}
.ticket input[type=text]{
	border: 1px solid #ccc;
}
.select > p{
	margin-top: 30px;
	color: #2B8DB5 ;
}

.box1{
	height: 34px;
	text-align: center;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.box1:hover{
	color: #2B8DB5;
	font-weight: bold;
}

.box1 :visited;{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #2B8DB5;
	font-weight: bold;
}
#map {
    height: 100%;
    width: 100%;
    }

.glyphicon-envelope,.glyphicon-phone{
font-size: 3em;
text-align: center;
padding-top: 20px;
}
.icons:hover{
	color: #C967D4;
	text-decoration: none;
}

.icons >a{
	color: black;
	text-decoration: none;
}
.adress >.row >hr{
	height: 2px;
	width: 50%;
}
.adress{
	padding-bottom: 20px;
}

.login button{
	clear: center;
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}
. button{
	clear: center;
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}
.close{
	margin-right: 30px;
}

.remember>a{
color: black;
}

.cancelbtn {
    width: 50%;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}




/*------BASKET-----*/

.shopping{
	text-align: left;
}
.shopping hr{
	margin-top: 0px;
	margin-bottom: 5px;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



@media (max-width: 500px) { 
	.logo{
		font-weight: bold;
		font-size: 5.5em;
		color: #ffffff;
		text-shadow: 0em 0em 0.1em #565656;
		transform: scale(0.7,0.7); 
	}
 }
@media (max-width:768px) { 
	.page>.basket>.basket-top>.row{
		padding-left: 150px;
	}

	.ticket{
		display: inline-block;
		transform: scale(0.8,0.8); 
	}
}

@media (max-width: 1200px) {
	.ticket{
		display: inline-block;
	}
}

/*formularz*/
fieldset.container{
	width: 70%;
}
.box input[type=submit]{
	margin-top: 50px;
	width:70% !important;

}

.form label {
	font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
    display:inline-block;
    vertical-align:middle;
}

.form btn{
	width: 100%;
}
